* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f9f9f9;
}
.main {
	margin: 0 auto;
	background-color: #ffffff;
	width: 1050px;
	height: 950px;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
}

img {
	margin-top: 50px;
	margin-left: 50px;
}
.panel {
	height: 40px;
	background: linear-gradient(to top, #444343, #5e5e5e);
	margin: 40px 50px 0 50px;
}
.links {
	font-family: 'Open Sans', sans-serif;
	text-shadow: 2px 2px 2px  rgba(0,0,0,0.5);
		
}
   




.links li {
	display: inline-block;
	list-style-type: none; 
}

.links a {
		display: block;
		height: 100%;
		width: 100%;
		text-decoration: none;
		color: #fff;
		font-size: 15px;
		line-height: 40px;
		margin-right:  40px;
		text-align: center;
		/*box-sizing: border-box;
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; */
		border-left: 1px solid rgba(0,0,0,0);
		border-right: 1px solid rgba(0,0,0,0);
}

.links a:hover {
	background: linear-gradient(to top, #2e2e2e, #4a4a4a);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	
}


