
/*{
	margin: 0;
	padding: 0;

}
*/
div + p {
	background-color: #000;
	color: #fff;
}
[href="http://google.com"]{
	color: red;
	text-decoration: none;
	
}
[type="text"]{
	color: blue;
}
.active{
	text-decoration: underline;
	
}


.active + li{
	text-decoration: none;
	background: green;
	
}

#box{
	border: 2px solid;
	margin: 20px;
	padding: 20px;
}
.menu_item{
	color: red;
}
p{
	color: #f00;
}
div p{
	color: #f0f;
}